.Button {
  background-color: #1F2229;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 16px;
  margin: 16px;
  font-weight: bold;
}

.Disabled {
  background-color: transparent;
  color: #3a3e52;
  border-color: #3a3e52;
}