.GistCard {
  width: 60%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid white;
  border-radius: 10px;
  margin: 20px auto;
  background: #F2F2F2;
  padding: 20px;
  text-decoration: none;
  color: #333333;
  text-align: left;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,.2);
}

.Title {
  background-color: lightblue;
  color: black;
}

.HeaderSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.BadgesSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: flex-start;
}

.BadgesSection span {
  padding: 6px 15px;
  border-radius: 15px;
  background: #3a3e52;
  color: #ffffff;
  font-size: 12px;
  display: inline-block;
  margin: 0 6px 0 0;

}

.ForksSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.ForksSection div {
  float: left;
  line-height: 50px;
  color: #568bb1;
  margin-left: 10px;
  font-weight: bold;
  width: 50%;
}