.SearchForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 16px auto;
}

.InputField {
  flex-grow: 2;
  color: black;
  border: 3px solid #7cbae6;
  padding: 15px;
  width: calc(100% - 36px);
  font-size: 16px;
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}

.Wrapper{
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.SiteName {
  margin-top: 5px;
  margin-bottom: 30px;
}

.Logo {
  height: 200px;
}