.GistsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Wrapper {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.SiteName {
  margin-top: 5px;
  margin-bottom: 30px;
}

.Logo {
  height: 200px;
}